/* MY */

/* Inicio genéricos */
    body {
        background: url("../img/logo-liber-salus2.png") center fixed;
        background-size: 60%;
        background-repeat: no-repeat;
    }
    .custom-dark-blue-color {
        color: rgb(0, 117, 175);
    }
    @font-face {
        font-family: 'Century Gothic';
        src: url('../fonts/gothic.eot');
        src: local('gothic'), url('../fonts/gothic.woff') format('woff'), url('../fonts/gothic.ttf') format('truetype');
    }
    .fontsforweb_fontid_9785 {
        font-family: 'Century Gothic' !important;
    }
    .regular-font {
        font-family: Century Gothic
    }
    .bold-font {
        font-family: Century Gothic;
        font-weight: bold;
    }
    .icon-behind {
        z-index: -10;
        color: rgba(255, 255, 255, 0.2);
    }
    [class*="col-lg-4"] {
        margin-bottom: 120px;
    }
    [class*="col-xs-0"] {
        flex: 0 0 0;
        max-width: 0;
    }
    .vertical-margin-bottom {
        margin-bottom: 36px;
    }
    .double-vertical-margin-bottom {
        margin-bottom: 72px;
    }
/* Fin genéricos */


/* Inicio NavBar */
    .custom-navbar-gray {
        background: rgb(215, 213, 213);
    }
    #bootstrap_overrides .custom-search-bar {
        border-radius: 20px;
        height: 36px;
        width: 388px;
    }
    .custom-hamburger, .custom-search-icon {
        font-size: 2.25rem;
    }
    #bootstrap_overrides .navbar{
        padding: 0.4rem 1rem;
    }
    .text-royal-blue {
        color: rgb(0, 117, 175);
    }
    .text-orange {
        color: rgb(245, 163, 49);
    }
    .text-purple{
        color: rgb(146, 35, 27);
    }
    #bootstrap_overrides .custom-btn-disabled {
        background: rgb(247, 164, 26);
        height: 64px;
        width: 594px;
        border-radius: 20px;
        box-shadow: 0px 0px 66px #afafaf;
        pointer-events: none;
    }
/* Fin NavBar */    


/* Inicio boton Identificación */
    #bootstrap_overrides .custom-identify-icon, #bootstrap_overrides .custom-icon {
        font-size: 3.7rem;
        line-height: 0.8;
    }
    #bootstrap_overrides .custom-btn-identify {
        background: rgb(148, 193, 33);
        height: 64px;
        width: 594px;
        border-radius: 20px;
        box-shadow: 0px 0px 66px #afafaf;
    }
    .custom-vertical-padding {
        padding: 36px 0px;
    }
/* Fin boton Identificación */


/* Inicio botones genericos */
    #bootstrap_overrides .custom-btn-dark {
        background-color: rgb(0, 117, 175);
        height: 255px;
        width: 255px;
        border-radius: 20px;
        box-shadow: 0px 0px 66px #afafaf;
    }
    #bootstrap_overrides .custom-visual-icon, 
    #bootstrap_overrides .custom-auditory-icon,
    #bootstrap_overrides .custom-walking-icon,
    #bootstrap_overrides .custom-teeth-open-icon{
        font-size: 12rem;
        line-height: 0.3;
    }
    #bootstrap_overrides .custom-teeth-open-icon{
        font-size: 11rem;
    }
    #bootstrap_overrides [type="text"], 
    #bootstrap_overrides [type="date"], 
    #bootstrap_overrides [type="checkbox"],
    #bootstrap_overrides .custom-select-buccal {
        border: 2px solid rgb(248, 171, 43);
        width: 100%;
        height: 40px;
        border-radius: 25px;
    }
    #bootstrap_overrides textarea {
        border: 2px solid rgb(248, 171, 43);
        width: 100%;
        height: 120px;
        border-radius: 25px;
    }
    .text-forward {
        margin-top: -1.4em;
    }
    .text-forward2 {
        margin-top: -3.0em;
    }
    .custom-bioimpedance-icon, .custom-vital-signs-icon {
        opacity: 0.2;
    }
    /* Inicio boton con imagen atras */
        .text-forward-img {
            margin-top: -3.4em;
        }
        .img-behind {
            transform: scale(2.2);
        }
    /* Fin boton con imagen atras */
/* Fin botones genericos home */

/* Inicio identify */
    .letter-section {
        margin-bottom: 27px;
    }
    .gray-letter {
        color: rgb(176, 172, 171);
        display: inline;
    }
    .gray-line {
        border: 1px solid rgb(176, 172, 171);
        background: rgb(176, 172, 171);
        float: right;
        width: 95.5%;
    }
    #bootstrap_overrides .custom-btn-slim {
        border: 2px solid rgb(0, 117, 175);
        width: 100%;
        height: 40px;
        border-radius: 20px;
        margin-bottom: 15px !important;
    }
    #bootstrap_overrides .custom-btn-slim-filled {
        border: 2px solid rgb(0, 117, 175);
        background-color: rgb(0, 117, 175);
        width: 100%;
        height: 40px;
        border-radius: 20px;
        margin-bottom: 15px !important;
    }
    #bootstrap_overrides .person-basic-data > *{
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1rem;
    }
    #bootstrap_overrides .custom-full-name, .float-left {
        float: left;
    }
    #bootstrap_overrides .custom-curp {

    }
    .empty-cell-before-file {
        height: 57px;
        background: blue;
    }
    .custom-file-icon {
        font-size: 2.4rem;
    }
    .empty-cell-before-file-first {
        height: 56px;
    }
    .empty-cell-before-file-normal {
        height: 56px;
    }
    .document {
        margin-bottom: 16px;
    }
    .custom-bioimpedance-text {
        font-size: 1.7rem;
    }
/* Fin identify */

/* Inicio bioimpedancia y antropometria */
    .custom-bioimpedance-icon-small {
        
    }
    .img-behind-small {
        transform: scale(0.6);
        margin-top: -24px;
    }
    .text-forward-img-small {
        margin-top: -2.1em;
    }
    p.instructions-paragraph {
        text-align: justify;
    }
    .custom-full-name-big {
        font-size: 1.5rem;
    }
    .custom-table-form > table > tbody > tr > td {
        border: none;
        vertical-align: inherit;
        padding: 0rem;
    }
    .units {
        margin-left: 70px;
    }
    .custom-form-label-element {
        font-size: 1.2rem;
    }
    .width-35-per {
        width: 35%;
    }
    .width-50-per {
        width: 50%;
    }
    .width-15-per {
        width: 15%;
    }
    #bootstrap_overrides .custom-btn-save {
        background-color: rgb(0, 117, 175);
        height: 78px;
        width: 250px;
        border-radius: 20px;
        box-shadow: 0px 0px 66px #afafaf;
    }
    .custom-btn-save-text {
        font-size: 1.4rem;
    }
/* Fin bioimpedancia y antropometria */

/* Inicio pase de usuarios */
    .block-users {
        background: #fff;
        width: 100%;
        height: 300px;
        border-radius: 20px;
        border: 2px solid rgb(0, 117, 175);
        padding: 20px;
        overflow: auto;
        overflow-x: auto;
    }
    .user-list-element {
        text-decoration: underline;
        margin-bottom: 10px;
    }
    .user-list {
        padding: 0;
        list-style: none;
    }
    .label-user-pass {
        margin-left: 20px;
        font-size: 1.2rem;
    }
    .custom-edit-icon {
        margin-left: 70px;
    }
/* Fin pase de usuarios */

/* Inicio pruebas */
    .testbg {
        background-color: aqua;
    }
    .testbg2 {
        background: #ff6f00;
    }
    .testbg3 {
        background: #997355;
    }
/* Fin pruebas */

/* Inicio signos vitales */
/* Customize the label (the container) */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox-container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
/* Fin signos vitales */

/* Inicio visual */
#bootstrap_overrides .custom-btn-left {
    background: rgb(0, 117, 175);
    height: 40px;
    width: 550px;
    border-radius: 20px;
}
#bootstrap_overrides .custom-btn-right {
    background: rgb(176, 172, 171);
    height: 40px;
    width: 550px;
    border-radius: 20px;
}
.custom-btn-left-right-text {
    font-size: 1.2rem;
}
/* Fin visual */

/* Inicio marcha */
    .feet-img {
        width: 40%;
        height: auto;
    }
/* Fin marcha */

/* Inicio bucal */
    /* .custom-select-buccal > option {
        color: 
    } */
/* Fin bucal */

/* Inicio media queries. fuente: https://www.w3schools.com/css/css_rwd_mediaqueries.asp*/
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        #bootstrap_overrides {
            background-color: #808;
        }
        #bootstrap_overrides .custom-search-bar {
            width: 187px;
        }
        #bootstrap_overrides .custom-search-icon {
            margin-right: -18px;
        }
        #bootstrap_overrides .custom-btn-identify, #bootstrap_overrides .custom-btn-identify-signed-in  {
            width: 335px;
        }
        .img-behind {
            transform: scale(1.2);
            margin-top: -20px;
        }
        #bootstrap_overrides .custom-btn-dark {
            height: 150px;
            width: 150px;
        }

        /* Inicio botones con img dentro */
            .text-forward-img {
                margin-top: -4em;
            }
            .custom-bioimpedance-text {
                font-size: 0.8rem;
            }
            .custom-vital-signs-text {
                font-size: 1rem;
            }
        /* Fin botones con img dentro */

        .text-forward2 {
            margin-top: -4rem;
            font-size: 1.6rem;
        }

        #bootstrap_overrides .custom-visual-icon, #bootstrap_overrides .custom-auditory-icon, #bootstrap_overrides .custom-walking-icon, #bootstrap_overrides .custom-teeth-open-icon {
            font-size: 7rem;
            line-height: 0.4;
        }

        #bootstrap_overrides .custom-teeth-open-icon{
            font-size: 6rem;
        }

        /* Inicio identify */
            #bootstrap_overrides .custom-full-name {
                float: initial;
            }
            #bootstrap_overrides .custom-btn-slim, #bootstrap_overrides .custom-btn-slim-filled{
                width: 109%;
            }
            .empty-cell-before-file-first {
                height: 65px;
            }
            .empty-cell-before-file-normal {
                height: 56px;
            }
            .document {
                margin-bottom: 24px;
            }
            .gray-line {
                width: 83.5%;   
            }
            #bootstrap_overrides .person-basic-data > * {
                font-size: 0.7rem;
            }
            .letter {
                font-size: 1rem;
            }
            /* .custom-file-icon {
                font-size: 1.4rem;
            } */
        /* Fin identify */
    } 

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) and (max-width: 767px){
        #bootstrap_overrides {
            background-color: #000;
        }

        /* Inicio identify */
            #bootstrap_overrides .custom-full-name {
                float: initial;
            }
            #bootstrap_overrides .custom-btn-slim, #bootstrap_overrides .custom-btn-slim-filled{
                height: 54px;
            }
            #bootstrap_overrides .custom-btn-identify-signed-in, #bootstrap_overrides .custom-btn-identify  {
                width: 538px;
            }
            .empty-cell-before-file-first {
                height: 65px;
            }
            .empty-cell-before-file-normal {
                height: 56px;
            }
            .document {
                margin-bottom: 30px;
            }
            .gray-line {
                width: 83.5%;
            }
        /* Fin identify */
    } 

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        #bootstrap_overrides {
            background-color: #0f0;
        }
        .margin-bottom-row {
            margin-bottom: 0;
        }
    } 

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        #bootstrap_overrides {
            background-color: #f00;
        }
    } 

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        #bootstrap_overrides {
            background-color: #0ff;
        }
        #bootstrap_overrides .custom-full-name {
            float: left;
        }
    }
/* Fin media queries */